<div class="banner7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 my-3">
        <div class="card3 row justify-content-center" style="width: 35rem; height: 18rem;">
          <div class="search-form box-shadow p-4">
            <div class="text-center">
              <h1>Edit Booking</h1>
            </div>
            <%= simple_form_for @booking do |f|%>
            <%=f.input :start_date, input_html: {class: "datepicker"}%>
            <%=f.input :end_date, input_html: {class: "datepicker"}%>
            <%=f.submit "Edit booking", class: "btn-form"%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
