
<div class="hero row align-items-center">
  <div class="container col">
    <div class="row justify-content-center w-50">
        <div class="search-form box-shadow p-4 col-6">
          <%= simple_form_for(:search, url: props_path, method: :get) do |f|%>
            <h1>Book unique props for your special event.</h1>
            <div class="form-group">
              <%=f.input :location, as: :string, label: "Where", placeholder:"London"%>
            </div>
            <div class="form-group">
              <%=f.input :name, as: :string, label: "Prop name"%>
            </div>

            <%=f.submit "Browse", class: "btn btn-primary w-100"%>
          <%end%>
        </div>
      </div>
  </div>
</div>





