.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner2 {
  background-size: cover;
  padding: 50px 0;
  background-color: #ffeae4;
}

.banner3 {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner4 {
  background-size: cover;
  padding: 165px 0;
}

.banner5 {
  height: 100vh;
  width: 100vw;
  background-color: #ffeae4;
}

/********Sign Up form***********/

.banner6 {
  height: 120vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

